@media (min-width: 812px) {

h1 {
    font-family: avenir;
    text-align: center;
    background-color:rgb(0, 0, 0);
    margin: auto;
    width: 10% auto;
    padding: 10px;
    color: whitesmoke;
}

.about {
    float: left;
}

.home {
    float: right;
}

main {
    position: absolute;
    margin: auto;
}

h3 {
    padding: 10px;
    margin: auto;
}

article {
    font-family: avenir;
    display: flex;
    background-color: black;
    text-align: center;
    color: rgb(209, 209, 209);
    padding: 50px;
}

p {
    padding: 10px;
    margin: auto;
}

article > h3 {
    font-size: 2em;
}

article:hover {
    background: grey;
}

article:hover > h3 {
    color: black;
}
}

@media (min-width: 0px) {
h1 {
    font-family: avenir;
    text-align: center;
    background-color:rgb(0, 0, 0);
    margin: auto;
    width: 10% auto;
    /* border: 3px solid rgb(182, 182, 182); */
    padding: 10px;
    color: whitesmoke;
}

.about {
    float: left;
}

.home {
    float: right;
}

main {
    width: auto;
    height: auto;
    margin: auto;
    padding: 50px;
}

h3 {
    padding: 10px;
    padding-left: 10px;
    margin: auto;
}

article {
    font-family: avenir;
    margin: 1% auto;
    border: 2px solid grey;
    width: 80%;
    background: white;
    color: rgb(209, 209, 209);
    padding: 30px;
}

p {
    padding: 10px;
    margin: auto;
}

article > h3 {
    font-size: 2em;
}

article:hover {
    background: grey;
}

article:hover > h3 {
    color: black;
}
}