@media (min-width: 812px) {
.header-wrapper {
    background-color: lightblue;
    height: 100px;
    align-content: center;
}

.header {
    padding: 40px;
}

.title {
}

.SNS {
    float: right;
    position: relative;
}

#bold {
    font-size: 15pt;
    font-weight: bold;
}

.welcome {
    background-color: whitesmoke;
    text-align: center;
    padding: 150px;
}

.h1 {
    text-align: center;
}

.article {
    display: flex;
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}
}

@media (min-width: 0px) {
    .header-wrapper {
        background-color: lightblue;
        height: 100px;
        align-content: center;
    }
    
    .header {
        padding: 40px;
    }
    
    .title {
    }
    
    .SNS {
        float: right;
        position: relative;
    }
    
    #bold {
        font-size: 15pt;
        font-weight: bold;
    }
    
    .welcome {
        background-color: whitesmoke;
        text-align: center;
        padding: 150px;
    }
    
    .h1 {
        text-align: center;
    }
    
    .article {
        display: flexbox;
        background-color: black;
        text-align: center;
        color: white;
        padding: 50px;
    }
}
